@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #2f2f2f;
}

.navbar h1 {
  color: #f1356d;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: aqua; */
  padding: 5px;
  width: 150px;
}

.links a {
  /* background-color: red; */
  text-decoration: none;
  padding: 6px 0;
  cursor: pointer;
}

.links a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  /* display: flex; */
  align-items: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

.blog-preview h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #f1356d;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.create label {
  text-align: left;
  display: block;
}


.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 1-px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  border: none;
  color: white;
  background-color: #f1356d;
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}